body {
    backdrop-filter: brightness(1.4);
}

.clouds_overlay {
    position: relative;
}
.cloud {
    position: absolute;
    z-index: -10;
}

/* https://codepen.io/sooooooo/pen/zVOGmb */
h1.title {
    margin: 0 0 32px;
    color: black;

    font-family: 'Modak', cursive;
    font-weight: normal;
    font-size: 8.5em;
    text-align: center;
    line-height: .9em;

    background-image: url(assets/holographic.webp);
    background-size: 500%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    animation-name: fluid;
    animation-timing-function: linear;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
h1.title:before{
    position: absolute;
    display: inline;
    z-index: -1;
    left: 0;

    text-shadow: 4px 2px 1px #40adff, 2px 2px 10px #f4b0e7;    
    content: "colton's travel gacha system";
}

a#roll_button {
    display: flex;
    align-items: center;
    justify-content: center;
}
a#roll_button img {
    width: 180px;
    height: auto;

    animation: pulse ease-out 1s infinite alternate;
}
a#roll_button img:hover {
    animation: spin linear 1s infinite;
}