<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Webpage</title>
    <link rel="stylesheet" href="static/main.css">
</head>
<body>

    <h1>Colton's Travel Gacha System</h1>
    <a href="roll" id="roll_button">Roll!</a>

    {# a comment #}
</body>
</html>
 
