<!DOCTYPE html>
<html lang="en">
<head>
    <title>colton's travel gacha system</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Modak&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/common.css">
    <link rel="stylesheet" href="/static/main.css">
</head>
<body class="centered">
    <h1 class="title">colton's travel gacha system</h1>
    <a href="roll" id="roll_button" title="Roll!">
        <img src="/static/assets/die.png" alt="Roll!" />
    </a>
</body>
</html>
 
