<!DOCTYPE html>
<html lang="en">
<head>
    <title>Colton's Travel Gacha System</title>
    <link href="https://fonts.googleapis.com/css?family=Modak&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/common.css">
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <h1 class="title">colton's travel gacha system</h1>
    <a href="roll" id="roll_button" title="Roll!">
        <img src="/static/die.png" alt="Roll!" />
    </a>
</body>
</html>
 
