<!DOCTYPE html>
<html lang="en">
<head>
    <title>Colton's Travel Gacha System</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body class="centered">
    <div class="card centered">
        <div class="background">
            <img src={{item.href}} class="background"/>
        </div>
        <div class="badge">
            <span>{{item.tier}}</span>
        </div>
        <div class="content">
            <h1 class="name">{{item.country}}</h1>
            <p class="description">{{item.blurb}}</p>
            <a href={{item.wikiVoyage}} class="redirect" target="_blank" rel=”noreferrer”>
                <span>Learn more</span>
            </a>
        </div>
    </div>
</body>
</html>
 
