<!DOCTYPE html>
<html lang="en">
<head>
    <title>Colton's Travel Gacha System</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body class="centered">
    <div class="card centered">
        <div class="background">
            <img src="https://www.commonwealthfund.org/sites/default/files/styles/countries_hero_desktop/public/country_image_Japan.jpg?h=fcdfd899&itok=eL0Jj4cw" class="background"/>
        </div>
        <div class="badge_wrapper">
            <div class="badge centered tierSS">SS</div>
        </div>
        <div class="content">
            <h1 class="name">Japan</h1>
            <p class="blurb">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <a href={{item.wikiVoyage}} class="redirect" target="_blank" rel="noreferrer">Learn more</a>
        </div>
    </div>
</body>
</html>
 
