<!DOCTYPE html>
<html lang="en">
<head>
    <title>Colton's Travel Gacha System</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body class="centered">
    <div class="card centered">
        <div class="background">
            <img src={{item.href}} class="background"/>
        </div>
        <div class="badge_wrapper">
            <div class="badge centered tierS">{{item.tier}}</div>
        </div>
        <div class="content">
            <h1 class="name">{{item.country}}</h1>
            <p class="blurb">{{item.blurb}}</p>
            <a href={{item.wikiVoyage}} class="redirect" target="_blank" rel="noreferrer">Learn more</a>
        </div>
    </div>
</body>
</html>
 
