<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Webpage</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>

    <h1>Colton's Travel Gacha System</h1>
    <img src={{item.href}} class= roll_result>
    
    <h2 class=roll_result>{{item.country}}</h2>
    <h2 class=roll_result>{{item.tier}}</h2>
    <a href= {{item.wikiVoyage}} class= roll_result>See WikiVoyage Article!</a>
    <p class= roll_result>{{item.blurb}}</p>
    {# a comment #}
</body>
</html>
 
